---
import { DocsSidebar, type DocsSidebarCategory } from './sidebar';

import type { MetadataType } from '@/components/utils/metadata';
import { paths } from '@/config/paths';
import { getCategoriesWithArticles } from '@/features/category/api/get-categories-with-articles';
import Base from '@/layouts/base/base.astro';

type Props = {
  metadata: MetadataType;
};

const { metadata } = Astro.props;

const categoriesFromCms = await getCategoriesWithArticles();

const categories: DocsSidebarCategory[] = categoriesFromCms.map((category) => ({
  id: category.id,
  title: category.title,
  items: category.items.map((item) => ({
    title: item.title,
    href: paths.docs.getHref(item.slug),
  })),
}));

const currentPath = Astro.url.pathname;
---

<Base metadata={metadata}>
  <div class="flex">
    <aside
      class="hidden h-[calc(100dvh-56px)] shrink-0 flex-col justify-between overflow-y-auto border-r pb-2 md:flex md:w-[268px] md:transition-all lg:w-[286px]"
    >
      <DocsSidebar
        client:load
        categories={categories}
        currentPath={currentPath}
      />
    </aside>
    <main class="col-span-12 md:col-span-8 lg:col-span-9">
      <slot />
    </main>
  </div>
</Base>
