---
import { PortableText } from 'astro-portabletext';
import { TriangleAlert, Info } from 'lucide-react';

import { portableTextComponents } from './config';

import { cn } from '@/lib/shadcn';

type PortableContent = {
  _type: string;
} & Record<string, unknown>[];

type Props = {
  node: { variant: 'info' | 'warning'; content: PortableContent };
};

const { node } = Astro.props;

const variant = node.variant;
const contentBlocks = node.content;
const isWarning = variant === 'warning';
---

<div
  class={cn(
    'bg-card border-border my-6 flex flex-row gap-2 rounded-none border border-s-2 border-dashed bg-none p-3 text-sm shadow-md',
    isWarning ? 'border-l-amber-700/50' : 'border-l-blue-500/50',
  )}
>
  {
    isWarning ? (
      <TriangleAlert className="size-5 fill-orange-500 text-card" />
    ) : (
      <Info className="size-5 fill-blue-500 text-card" />
    )
  }
  <div class="prose text-muted-foreground min-w-0 flex-1">
    <PortableText value={contentBlocks} components={portableTextComponents} />
  </div>
</div>
