---
import '@fontsource/geist-sans';
import '@fontsource-variable/geist-mono';
import '@/styles/global.css';
import Header from './header/index.astro';

import InitTheme from '@/components/themes/init-theme.astro';
import { Metadata, type MetadataType } from '@/components/utils/metadata';

type Props = {
  metadata: MetadataType;
};

const { metadata } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata metadata={metadata} />
    <InitTheme />
  </head>
  <body class="font-geist-sans antialiased">
    <Header>
      <slot name="mobile-nav" slot="mobile-nav" />
    </Header>
    <slot />
  </body>
</html>
