---
import CodeBlock from './code-block';

type CodeBlockNode = {
  useTabs?: boolean;
  title?: string;
  code?: {
    code: string;
    language?: string;
    filename?: string;
  };
  tabs?: Array<{
    title: string;
    code: {
      code: string;
      language?: string;
      filename?: string;
    };
  }>;
};

const { node } = Astro.props as { node?: CodeBlockNode };
---

<div class="code-block-wrapper">
  <CodeBlock node={node} client:load />
</div>
