---
import Logo from '@/assets/logo.svg';
import { buttonVariants } from '@/components/ui/button';
import type { MetadataType as Metadata } from '@/components/utils/metadata';
import { paths } from '@/config/paths';
import BaseLayout from '@/layouts/base/index.astro';
import { cn } from '@/lib/shadcn';

const metadata: Metadata = {
  title: '500 - Internal Server Error | Better Auth Doc',
  description: 'An internal server error occurred. Please try again later.',
};
---

<BaseLayout metadata={metadata}>
  <main
    class="relative flex h-[calc(100vh-10px-var(--nav-height))] flex-col items-center justify-center"
  >
    <div class="mb-8">
      <Logo class="fill-foreground h-10 w-10" />
    </div>
    <h1 class="text-8xl font-normal">500</h1>
    <p class="mb-2 text-lg font-medium">Internal Server Error</p>
    <p class="text-muted-foreground mb-8 text-sm">
      Something went wrong on our end. Please try again in a moment.
    </p>
    <a
      href={paths.home.getHref()}
      class={cn(
        buttonVariants({ size: 'lg' }),
        'px-8 py-3 text-base font-medium',
      )}
    >
      GO TO HOMEPAGE
    </a>
  </main>
</BaseLayout>
