---
import { PortableText } from 'astro-portabletext';
import { sanityClient } from 'sanity:client';
import '@fontsource/geist-sans/100.css';
import '@fontsource/geist-sans/200.css';
import '@fontsource/geist-sans/300.css';
import '@fontsource/geist-sans/400.css';
import '@fontsource/geist-sans/500.css';
import '@fontsource/geist-sans/600.css';
import '@fontsource/geist-sans/700.css';
import '@fontsource/geist-sans/800.css';
import '@fontsource/geist-sans/900.css';
import '@fontsource-variable/geist-mono';
import '@/styles/global.css';

import { portableTextComponents } from '@/features/article/components/portable-text/config';

export const prerender = false;

const query = `*[_type == "article" && slug.current == $slug][0]{
  title,
  description,
  content
  }`;

const article = await sanityClient.fetch(query, { slug: 'installation' });
---

<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{article ? article.title : 'Draft'}</title>
  </head>
  <body class="font-geist-sans antialiased">
    {
      article ? (
        <main>
          <h1 class="text-2xl font-bold uppercase">{article.title}</h1>
          {article.description && <p>{article.description}</p>}
          <div class="prose">
            <PortableText
              value={article.content}
              components={portableTextComponents}
            />
          </div>
        </main>
      ) : (
        <main>
          <p>Article "cookies" not found.</p>
        </main>
      )
    }
  </body>
</html>
