---
import { pages } from './config';
import MobileNavigation from './mobile-navigation';

import Logo from '@/assets/logo.svg';
import ToggleTheme from '@/components/themes/toggle-theme';
import { cn } from '@/lib/utils';
import { isPathActive } from '@/utils/paths';
---

<header class="bg-background sticky top-0 z-30 w-full border-b">
  <div class="flex h-[var(--nav-height)] items-center justify-between">
    <a
      href="/"
      class="text-foreground shrink-0 cursor-pointer px-2.5 py-4 md:w-[268px] md:border-r md:px-5 lg:w-[286px]"
      aria-label="Homepage"
    >
      <div class="flex items-center gap-2">
        <Logo class="size-5" />
        <span class="tracking-wide">BETTER-AUTH.</span>
      </div>
    </a>

    <nav class="flex items-center gap-x-1 md:gap-x-0">
      <ul class="hidden w-max shrink-0 items-center divide-x md:flex">
        {
          pages.map((page) => {
            const isActive = isPathActive(Astro.url.pathname, page.path);
            return (
              <li class="group relative">
                <a
                  href={page.path}
                  {...page.attributes}
                  class={cn(
                    'group-hover:text-foreground text-muted-foreground block h-full w-full px-5 py-4 transition-colors',
                    isActive && 'text-foreground',
                  )}
                >
                  {page.title}
                </a>
                <div
                  class={cn(
                    'bg-muted-foreground absolute bottom-0 h-0.5 w-0 opacity-0 transition-all duration-500 group-hover:w-full group-hover:opacity-100',
                    isActive && 'w-full opacity-100',
                  )}
                />
              </li>
            );
          })
        }
      </ul>
      <ToggleTheme client:load />
      <MobileNavigation client:visible>
        <slot name="mobile-nav" />
      </MobileNavigation>
    </nav>
  </div>
</header>
