---
import type { HTMLAttributes } from 'astro/types';

import { cn } from '@/lib/utils';

type Props = Omit<HTMLAttributes<'a'>, 'class'> & {
  isActive?: boolean;
};

const { isActive = false, ...props } = Astro.props;
---

<li class="group relative">
  <a
    {...props}
    class={cn(
      'w-full h-full block py-4 px-5 transition-colors group-hover:text-foreground text-muted-foreground',
      isActive && 'text-foreground',
    )}><slot /></a
  >
  <div
    class={cn(
      'absolute bottom-0 h-0.5 bg-muted-foreground opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:w-full w-0',
      isActive && 'w-full opacity-100',
    )}
  >
  </div>
</li>
