---
import { PortableText } from 'astro-portabletext';
import type { PortableTextProps } from 'astro-portabletext/types';

import { portableTextComponents } from './portable-text/config';

type Props = {
  article: {
    title: string;
    content: PortableTextProps['value'];
  };
};

const { article } = Astro.props;
---

<article id="article-content" class="flex flex-col gap-6">
  <h1 class="text-3xl font-semibold">{article.title}</h1>
  <div class="border-b pb-3"></div>
  <div class="prose">
    <PortableText value={article.content} components={portableTextComponents} />
  </div>
</article>
