---
import { PortableText } from 'astro-portabletext';

import { portableTextComponents } from './portable-text/config';

type Props = {
  article: any;
};

const { article } = Astro.props;
---

<article
  class="flex w-full max-w-[860px] flex-1 flex-col gap-6 px-4 pt-8 md:px-6 md:pt-12 xl:mx-auto xl:px-12"
>
  <h1 class="text-3xl font-semibold">{article.title}</h1>
  <div class="border-b pb-3"></div>
  <div class="prose">
    <PortableText value={article.content} components={portableTextComponents} />
  </div>
</article>
