---
import { ChevronLeft, ChevronRight } from 'lucide-react';

import { paths } from '@/config/paths';
import { cn } from '@/lib/shadcn';

type Article = {
  id: string;
  title: string;
};

type Props = {
  article: Article;
  direction: 'previous' | 'next';
};

const { article, direction } = Astro.props;
const isNext = direction === 'next';
---

<a
  href={paths.docs.getHref(article.id)}
  class={cn(
    'flex w-full flex-col gap-2 rounded-lg border p-4 text-sm transition-colors hover:bg-accent/80 hover:text-accent-foreground',
    isNext && 'text-end',
  )}
>
  <div
    class={cn(
      'text-muted-foreground inline-flex items-center gap-0.5',
      isNext && 'flex-row-reverse',
    )}
  >
    {
      isNext ? (
        <ChevronRight className="-me-1 size-4 shrink-0" />
      ) : (
        <ChevronLeft className="-ms-1 size-4 shrink-0" />
      )
    }
    <span>{isNext ? 'Next Page' : 'Previous Page'}</span>
  </div>
  <p class="font-medium md:text-[15px]">
    {article.title}
  </p>
</a>
