---

---

<blockquote class="my-[1.6em] border-s-4 ps-[1em] font-medium italic">
  <p
    class="my-[1.25em] text-orange-400 before:content-[open-quote] after:content-[close-quote]"
  >
    <slot />
  </p>
</blockquote>
