---
import { Link } from 'lucide-react';

import { ScrollLink } from '@/components/ui/scroll-link';
import {
  extractTextFromChildren,
  generateId,
} from '@/features/article/utils/toc';

const { node } = Astro.props;

const text = extractTextFromChildren(node?.children || []);
const id = generateId(text);
---

<h5
  id={id}
  class="group text-foreground mt-[1.4em] mb-[0.4em] flex scroll-m-28 flex-row items-center gap-2 leading-[1.5] font-semibold"
>
  <ScrollLink targetId={id} client:visible><slot /></ScrollLink>
  <Link
    className="text-muted-foreground size-3.5 shrink-0 opacity-0 transition-opacity group-hover:opacity-100"
  />
</h5>
